body {
    background-image: url(books.jpg) ;
    background-size: cover;
}

div.jumbotron {
    border-radius: 10px;
}

.search-results {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
}

.list-item {
    display: block;
    min-height: 44px;
}

.pad-top {
    padding-top: 20px;
}

.pad-right {
    padding-right: 20px;
}

button.addToList, button.removeFromList, button.addToComplete, button.learnMore {
    display: none;
}

.search-results:hover button.addToList, .search-results:hover button.learnMore, .list-item:hover button.removeFromList, .list-item:hover button.addToComplete {
   display: block;
}

button.learnMore, button.addToList {
    width: inherit;
    margin-top: 10px;
}

.titleRow {
    min-height: 100px;
}

.card {
    margin: 20px;
}

#main-card, #allResults {
      height: 50%;
}


/* Modal */


/* Completed Books */
button.removeFromComplete {
    display: none;
}

.list-item:hover button.removeFromComplete {
   display: block;
}

.booksReadCount {
    padding: 50px;
}